.header{
    height: 58px;
    color: #fff;
}
.fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.transparent-Bg{
    background-color: transparent;
}
.blue-Bg{
    background-color: #5984A4;
}
.be-fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.be-relative{
    position: relative;
    background-color: #5984A4;
}