@media screen and(min-width:768px){
    .why-sz-top {
        height: 30%;
        padding-top: 3%;
    
        .why-tit{
           font-size: 33px;
        }
        .why-det{
           font-size: 15px;
        }
        .why-tit,
        .why-det {
            width: 1200px;
            padding: 0 15px;
            margin-left: auto;
            margin-right: auto;
        }
        

    }
    .why-sz-bottom {
        width: 1200px;
        margin: 0 auto;
        padding-top: 30px;
        height: 70%;
    }
    .choosed-common-style{
        .choosed-tit{
            font-size: 24px;
            .sp2{
                font-size: 29px;
            }
        }
        p{
            font-size: 14px;
        }
    }

}

@media screen and(max-width:767px){
    .why-sz-top {
        padding: 30px 20px;
        .why-tit{
            font-size: 20px;
        }
        .why-det{
            font-size: 12px;
            line-height: 1.6;
        }
    }
    
   .why-sz-bottom {
        width: 100%;
        padding: 0 10px;
    }

    .choosed-common-style{
        margin-top: 30px;
        .choosed-tit{
            font-size: 16px;
            .sp2{
                font-size: 18px;
            }
        }
        p{
            font-size: 12px;
        }
    }
}

.why-sz-top {
    width: 100%;
    background-image: url("../../../../../assets/images/presentatin_us.jpg");
    background-size: 100% 100%; 
    background-attachment: fixed;
    text-align: center;
    .why-tit{
        line-height: 1.1;
        font-weight: 300;
        color: #fff;
    }
    .why-det{
        color: rgba(255, 255, 255, 0.9);
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 1.6;
        font-weight: 300;
        letter-spacing: 0.2px;
    }

    .middle-btn-wrap{
        margin: 0 auto;
        width: 300px;
        height: 35px;
        .more-btn,
        .buy-btn{
            width: 115px;
            height: 35px;
            font-size: 14px;
            border-radius: 5px;
            color: #fff;
            letter-spacing: 1px;
            border-bottom: 3px solid rgba(0,0,0,.2);
            display: inline-block;
            cursor: pointer;
            user-select: none;
            transition: all .75s ease;
            -moz-transition: all .75s ease;
            -webkit-transition:  all .75s ease;
            -o-transition:  all .75s ease;
        }
        .more-btn{
            border: 2px#fff solid;
            margin-right: 10px;
            line-height: 32px;  
            -webkit-transition:color 0.28s ease;
            -moz-transition: color 0.28s ease;
            -o-transition: color 0.28s ease;
            transition: color 0.28s ease;
            &:hover{
                background: #fff;
                color:#000;
                -webkit-transition:color 0.28s ease;
                -moz-transition: color 0.28s ease;
                -o-transition: color 0.28s ease;
                transition: color 0.28s ease;
            }
        }
        .buy-btn{
            line-height: 35px;  
            text-indent: 15px;
            background: #f98805;
            &:hover{
                background: #0061ae;
                color: #fff;
                text-indent: 10px;
                transition: all .75s ease;
                -moz-transition: all .75s ease;
                -webkit-transition:  all .75s ease;
                -o-transition:  all .75s ease;
            }
            .btn-arrows{
                text-indent: 0px;
                opacity: 0;
                transition: all .75s ease;
                -moz-transition: all .75s ease;
                -webkit-transition:  all .75s ease;
                -o-transition:  all .75s ease;
             }
             &:hover .btn-arrows {
                color: #fff;
                opacity: 1;
                text-indent: 7px;
                transition: all .75s ease;
                -moz-transition: all .75s ease;
                -webkit-transition:  all .75s ease;
                -o-transition:  all .75s ease;
             }
        }

    }
    
   
}




.choosed-common-style{
    margin-bottom: 30px;
    padding: 0 3px;
    .choosed-tit{
        line-height: 1.5;
        color: #de4217;
        &:after{
            content: "";
            margin: 6px 0 15px;
            width: 69px;
            height: 0;
            display: block;
            position: relative;
            border-bottom: 4px solid;
        }
        .sp2{
            font-weight: 800;
            color: #363636;
            letter-spacing: -1.5px;
        }
    }
    p{
        line-height: 1;
        margin-top: -5px;
        font-weight: 400;
        color: #707070;
        letter-spacing: -0.4px;
        font-family: 'Montserrat','Roboto', Helvetica, Arial, sans-serif;
    }
    
}

/* 为什么选择我们 */
.why-choose-wrap{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
   
} 
