
@media screen and(min-width:768px){
    .footer{
        position: absolute;
        bottom: 0;
    }
}

@media screen and(max-width:767px){
    .footer{
        position: relative;
    }
}

.footer{
    width: 100%;
}