.the-tit{
    min-height: 63px;
    position: relative;
    padding: 19px 38px 16px 22px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 6px;
    cursor: pointer;
    .icon-common{
        width: 24px;
        height: 24px;
        position: absolute;
        right: 10px;
        top: 19px;
        left: auto;
    }
    .tit-icon{
        background: url("../../../../../../assets/images/why_show_icon.png") no-repeat 0px 0px;
    }
    .click-tit-icon{
        background:  url("../../../../../../assets/images/why_show_icon.png") no-repeat 0px -70px;
    }
    &:hover{
        background-color: #f5f5f5;
        color: #e9573f;
    }
}
.the-det{
    padding: 0 24px 15px;
    border: 5px solid #bdc3c7;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.default-tit{
    color: #656f78;
    border-bottom: none;
    background-color: rgb(236, 236, 236);
}
.click-tit{
    color: #e9573f;
    background: #fff !important;
    border: 5px solid #bdc3c7;
    border-bottom: none;
}
.show-det{
    display: block;
    -webkit-animation: fadeinT .5s ease-out backwards;
    -moz-animation: fadeinT .5s ease-out backwards;
    -ms-animation: fadeinT.5s ease-out backwards;
    animation: fadeinT .5s ease-out backwards;
}
.hide-det{
    display: none;
    -webkit-animation: fadeOutB .5s ease-out backwards;
    -moz-animation: fadeOutB .5s ease-out backwards;
    -ms-animation: fadeOutB.5s ease-out backwards;
    animation: fadeOutB .5s ease-out backwards;
}
/* 淡入-从上 */
@-webkit-keyframes fadeinT{
    0%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinT{
    0%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}
@-ms-keyframes fadeinT{
    0%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}
@keyframes fadeinT{
    0%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}

/* 淡出-从上 */
@-webkit-keyframes fadeOutB{
    0%{opacity:1;-webkit-transform:translateY(0);}
    100%{display:none;opacity:0;-webkit-transform:translateY(-10px);}
}
@-moz-keyframes fadeinT{
    0%{opacity:1;-webkit-transform:translateY(0);}
    100%{opacity:0;-webkit-transform:translateY(-10px);}
}
@-ms-keyframes fadeinT{
    0%{opacity:1;-webkit-transform:translateY(0);}
    100%{opacity:0;-webkit-transform:translateY(-10px);}
}
@keyframes fadeOutB{
    0%{opacity:1;-webkit-transform:translateY(0);}
    100%{opacity:0;-webkit-transform:translateY(-10px);}
}
