.has-header {
  margin-top: $nav-bar-height;
}

.container {
  @extend %mx-4;
}

.hide {
  display: none;
}

.icon {
  margin-right: .5rem;
  font-size: $icon-font-size;
  line-height: normal;
}

.btn {
  display: inline-block;
  line-height: $btn-default-height;
  margin: $btn-default-margin;
  border-radius: $btn-default-border-radius;
  font-size: $btn-default-font-size;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
