<!-- <home-header [canchange]="true"></home-header> -->

<home-content></home-content>


<div class="home has-header">
    <div class="container">
        <div class="index">
            
            <fill>
                <div fill1>wwwwwwwwwwww</div>
            </fill>
           
            <fill>
                <div fill2>
                    <div style='width: 100px;height: 100px;background: red'>
                        asdas
                    </div>
                </div>
            </fill>

            <fill>
                    <div fill3>eee</div>
            </fill>

        </div>
    </div>
</div>

<div>
    app-slider
</div>

<div [routerLink]="['/routes/signin']">
   带我去登录
</div>