@media screen and(min-width:768px){
    .layout{
        width: 1200px;
        margin: 0 auto;
    }
    .need-top{
        height: 30%;
        .need-tit{
            width: 1200px;
            font-size: 33px;
            letter-spacing: 5px;
            .tit-box {
                 padding: 15px 0 25px;
            }
            .protect-icon{
                font-size: 19px;
                height: 30px;
                
            }
        }
        .need-detail{
           font-size: 16px;
           margin-top: 2%;
        }
      
    }
    .need-bottom{
        height: 70%;
        /* 垂直居中 */ 
        .auto-reasons{
            position:absolute;  
            top:50%;  
            margin-top:-250px;  
            width: 1200px;  
            height: auto;  
        }
    }
}

@media screen and(max-width:767px){
    .layout{
        width: 100%;
    }
    .need-top{
        // height: 100px;
        padding: 20px 0;
        .need-tit{
            width: 100%;
            font-size: 16px;
            letter-spacing: 0px;
            .tit-box {
                padding: 17px 0 16px;
            }
            .icon-wrap{
                bottom: -24px;
                .protect-icon{
                    font-size: 19px;
                    height: 15px;
                }
            }
        }
        .need-detail{
            margin-top: 20px;
            font-size: 12px;
            padding: 5px 20px;
        }
       
    }
    .need-bottom{
        height: 70%;
        height: auto;
        padding: 50px 15px 20px 15px;
        .need-reasons{
            margin-left: 7%;
        }
    }
}



.need-top{
    width: 100%;
    // padding-top: 58px;
    padding-top: 3%;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    .need-tit{
        line-height: 1.1;
        text-align: center;
        color: #272727;
        margin: 0 auto;
        .tit-box{
            display:inline-block !important;
            width: auto;
            border-bottom: 2px #E5E5E5 solid;
            position: relative;
            .icon-wrap{
                width: 100%;
                height: 30px;
                position: absolute;
                bottom: -21px;
                padding-right: 40px;
                .protect-icon{
                    width: 40px;
                    // height: 30px;
                    margin-left: 50%;
                    background: #fff;
                    // font-size: 19px;
                    text-align: center;
                    padding-left: 7px;
                    color: #0061ae;
                }
            }
            
        }
    }
    .need-detail{
        // font-size: 16px;
        line-height: 2;
        text-align: center;
        font-weight: 300;
        color: #272727;
    }
}

.need-bottom{
    width: 100%;
    background: url("../../../../../assets/images/need_bg.png")  repeat;
    position: relative;
    /* 箭头 */ 
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -25px;
        border-width: 25px;
        border-style: solid;
        border-color: #fff transparent transparent;
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -25px;
        border-width: 25px;
        border-style: solid;
        border-color: #dbdbdb transparent transparent;
    }
   
    .need-reasons{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        .reasons-wrap{
            padding: 45px 10px 20px;
            text-align: center;
            margin-bottom: 30px;
            border: 3px solid #f3f3f3;
            border-top: none;
            border-radius: 4px;
            -webkit-box-shadow: 0 -4px 0 0;
            box-shadow: 0 -4px 0 0;
            &:hover{
                background: transparent;
                -webkit-box-shadow: 0 3px 0 0, 0 -4px 0 0;
                box-shadow: 0 3px 0 0, 0 -4px 0 0; 
            }
            &:hover:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid;
                border-top-color: inherit;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -8px;
            }
            .reasons-icon{
                display: inline-block;
                border-radius: 50%;
                margin-bottom: 32px;
                border: 1px solid transparent;
                i{
                    width: 108px;
                    height: 108px;
                    padding: 30px;
                    background: #fff;
                    border-radius: 50%;
                    cursor: default;
                    font-size: 48px;
                    line-height: 48px;
                    display: inline-block;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }
            }
            .reasons-tit{
                margin-bottom: 13px;
                font-size: 18px;
                letter-spacing: -0.3px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .reasons-det{
                font-size: 14px;
                color: #666;
                margin-bottom: 25px;
                padding: 0 15px;
                line-height: 1.6;
                font-weight: 300;
                letter-spacing: 0.2px;
            }
            .reasons-btn{
                width: 115px;
                height: 35px;
                line-height: 35px;  
                font-size: 14px;
                text-indent: 15px;
                border-radius: 5px;      
                // color: #fff;
                background: rgba(15, 15, 15, 0.05);
                color: rgba(15, 15, 15, 0.35);
                margin: 0 auto;
                margin-bottom: 15px;
                border-bottom: 3px solid rgba(0,0,0,.2);
                cursor: pointer;
                user-select: none;
                transition: all .75s ease;
                -moz-transition: all .75s ease;
                -webkit-transition:  all .75s ease;
                -o-transition:  all .75s ease;
                &:hover{
                    background: #0061ae;
                    color: #fff;
                    text-indent: 10px;
                    transition: all .75s ease;
                    -moz-transition: all .75s ease;
                    -webkit-transition:  all .75s ease;
                    -o-transition:  all .75s ease;
                }
                .btn-arrows{
                    text-indent: 0px;
                    opacity: 0;
                    transition: all .75s ease;
                    -moz-transition: all .75s ease;
                    -webkit-transition:  all .75s ease;
                    -o-transition:  all .75s ease;
                 }
                 &:hover .btn-arrows {
                    color: #fff;
                    opacity: 1;
                    text-indent: 7px;
                    transition: all .75s ease;
                    -moz-transition: all .75s ease;
                    -webkit-transition:  all .75s ease;
                    -o-transition:  all .75s ease;
                 }
            }
            /* reasons-btn */ 
             
        }
        /* reasons-wrap */ 
    }
    /* need-reasons 最外层容器 */ 

    /* 不同颜色 */
    .reasons-color1{
        .reasons-wrap{
            color: #e45353;
            &:hover{
                background: transparent;
                -webkit-box-shadow: 0 3px 0 0, 0 -4px 0 0;
                box-shadow: 0 3px 0 0, 0 -4px 0 0; 
                .reasons-icon i{
                    background: #e45353;
                    color: #fff;
                }
            }
            .reasons-icon{
                background-color: #e45353;
                i{
                    background: #fff;
                    color: #e45353;
                }
            }
            .reasons-tit{
                color: #e45353;
            }
        }
    } 
    .reasons-color2{
        .reasons-wrap{
            color: #955e89;
            &:hover{
                background: transparent;
                -webkit-box-shadow: 0 3px 0 0, 0 -4px 0 0;
                box-shadow: 0 3px 0 0, 0 -4px 0 0; 
                .reasons-icon i{
                    background: #955e89;
                    color: #fff;
                }
            }
            .reasons-icon{
                background-color: #955e89;
                i{
                    background: #fff;
                    color: #955e89;
                }
            }
            .reasons-tit{
                color: #955e89;
            }
        }
    } 
    .reasons-color3{
        .reasons-wrap{
            color: #2fa6c4;
            &:hover{
                background: transparent;
                -webkit-box-shadow: 0 3px 0 0, 0 -4px 0 0;
                box-shadow: 0 3px 0 0, 0 -4px 0 0; 
                .reasons-icon i{
                    background: #2fa6c4;
                    color: #fff;
                }
            }
            .reasons-icon{
                background-color: #2fa6c4;
                i{
                    background: #fff;
                    color: #2fa6c4;
                }
            }
            .reasons-tit{
                color: #2fa6c4;
            }
        }
    } 
    .reasons-color4{
        .reasons-wrap{
            color: #f58b3f;
            &:hover{
                background: transparent;
                -webkit-box-shadow: 0 3px 0 0, 0 -4px 0 0;
                box-shadow: 0 3px 0 0, 0 -4px 0 0; 
                .reasons-icon i{
                    background: #f58b3f;
                    color: #fff;
                }
            }
            .reasons-icon{
                background-color: #f58b3f;
                i{
                    background: #fff;
                    color: #f58b3f;
                }
            }
            .reasons-tit{
                color: #f58b3f;
            }
        }
    } 
    
   
}
