// Contextual backgrounds
$bg-colors: (
  gray-base: $gray-base,
  gray-darker: $gray-darker,
  gray-dark: $gray-dark,
  gray-light: $gray-light,
  gray-lighter: $gray-lighter,
  primary: $primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

@each $parent, $color in $bg-colors {
  %bg-#{$parent} {
    background-color: $color;
  }
}

%bg-white {
  background-color: #fff;
}

%bg-faded {
  background-color: darken($body-bg, 3%);
}

%bg-gray {
  background-color: $gray;
}

%bg-transparent {
  background-color: transparent;
}
