// Colors
$colors: (
  gray-base: $gray-base,
  gray-darker: $gray-darker,
  gray-dark: $gray-dark,
  gray-light: $gray-light,
  gray-lighter: $gray-lighter,
  primary: $primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

@each $parent, $color in $colors {
  %color-#{$parent} {
    color: $color;
  }
}

%color-white {
  border-color: #fff;
}

%color-gray {
  border-color: $gray;
}
