// Cursor
%cursor-pointer {
  cursor: pointer;
}

%cursor-text {
  cursor: text;
}

%cursor-help {
  cursor: help;
}

%cursor-move {
  cursor: move;
}

%cursor-not-allowed {
  cursor: not-allowed;
}

%cursor-zoom-in {
  cursor: zoom-in;
}

%cursor-zoom-out {
  cursor: zoom-out;
}
