// Display
// Custom styles for display
// @source - https://v4-alpha.getbootstrap.com/utilities/display-property/
// --------------------------------------------------

%d-none {
  display: none;
}

%d-inline {
  display: inline;
}

%d-inline-block {
  display: inline-block;
}

%d-block {
  display: block;
}

%d-table {
  display: table;
}

%d-table-cell {
  display: table-cell;
}

%d-flex {
  display: flex;
}

%d-inline-flex {
  display: inline-flex;
}
