// $Text
// --------------------------------------------------

// Alignment
%text-justify {
  text-align: justify;
}

%text-nowrap {
  white-space: nowrap;
}

%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Responsive alignment
%text-left {
  text-align: left;
}

%text-right {
  text-align: right;
}

%text-center {
  text-align: center;
}

// Transformation
%text-lowercase {
  text-transform: lowercase;
}

%text-uppercase {
  text-transform: uppercase;
}

%text-capitalize {
  text-transform: capitalize;
}

// Weight and italics
%font-weight-normal {
  font-weight: normal;
}

%font-weight-bold {
  font-weight: bold;
}

%font-italic {
  font-style: italic;
}

// Text color
$text-colors: (
  gray-base: $gray-base,
  gray-darker: $gray-darker,
  gray-dark: $gray-dark,
  gray-light: $gray-light,
  gray-lighter: $gray-lighter,
  muted: $gray-light,
  primary: $primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

@each $parent, $color in $text-colors {
  %text-#{$parent} {
    color: $color;
  }
}

%text-white {
  color: #fff;
}

%text-gray {
  color: $gray;
}

%text-transparent {
  color: transparent;
}
