<div class='news-top'>
  <div class='news-tit'>
    <div class='tit-box'  *ngIf='partnerStart' [@fadeInUp]>
      贡献人简介
      <div class='icon-wrap'>
        <div class='protect-icon'>
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class='container' *ngIf='imgStart' [@fadeInUp]>
      <ul class='row img-wrap'>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
            <li class='col-sm-2 col-xs-6 '>
                <img src='../../../../../assets/images/demo/partner.png' alt=''>
            </li>
       </ul>
  </div>
  