
<div class="home-full-container">
  <slideshow></slideshow>
</div>

<div class='home-full-container'>
    <need-poetry [whitchSatrt]="whitchSatrt"></need-poetry>
</div>

<div class='home-full-container'>
    <poetry-presentation-us [whitchSatrt]="whitchSatrt"></poetry-presentation-us>
</div>

<div class='home-full-container' style='background-color: #f5f5f5'>
    <poetry-news [whitchSatrt]="whitchSatrt"></poetry-news>
</div>

<div class='home-full-container partner-tips' style='background-color: #f5f5f5' >
    <poetry-partner-and-footer [whitchSatrt]="whitchSatrt"></poetry-partner-and-footer>
</div>

<div class='fixed-btn fixed-btn-top' (click)='goUp()'>
    <i class="anticon anticon-up"></i>
</div>

<div class='fixed-btn fixed-btn-bottom' (click)='goDown()'>
    <i class="anticon anticon-down"></i>
</div>
